[Unit]
Description=OpenSVC server and services oneshot stopper
Documentation=https://docs.opensvc.com/ file:/usr/share/doc/opensvc/ man:om(1)
After=opensvc-server.service

[Service]
Type=oneshot
TimeoutStopSec=1h
RemainAfterExit=true
User=root
ExecStart=/usr/bin/om node version
ExecStop=/usr/bin/om daemon shutdown
